@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  position: relative;
  z-index: 2;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  width: 26rem;
  height: 2rem;
  font-size: 15px;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
}
.nav-lists > a > li {
  cursor: pointer;
  min-width: 3.5rem;
}
.nav-lists > a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
.nav-lists > a > li:hover {
  color: hsl(233, 26%, 24%);
}
.nav-lists > a > li:hover::before {
  content: "";
  width: 3.5rem;
  height: 0.25rem;
  position: absolute;
  top: 4.8rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.request-button {
  font-size: 15px;
  font-weight: 300;
  width: 10rem;
  height: 2.7rem;
  border-radius: 20px;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.request-button:hover {
  opacity: 0.7;
}
.ham-menu{
    display: none;
}
.ham-menu-lists{
    display: none;
}
.display{
    display: flex;
}
.hero-section {
  width: 100%;
  height: 44rem;
  display: flex;
  position: relative;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100rem 75rem;
  background-position: 37rem -19rem;
}
.hero-span {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 13.1rem;
}
.hero-text {
  margin: 0;
  font-size: 55px;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}
.hero-paragraph {
  margin: 0;
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  width: 25rem;
  line-height: 1.5rem;
}

.contentPage1 {
  background-color: #f3f4f6;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  height: 650px;
}

.contentPage1 .text {
  margin-left: 13.1rem;
}

.contentPage1 .text h1 {
  font-size: 40px;
  font-weight: 100;
  color: hsl(233, 26%, 24%);
}

.contentPage1 .text p {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  width: 37rem;
  line-height: 1.5rem;
}

.contentPage1 .cards-div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  border-radius: 5 5 0 0;
  text-align: start;
  margin-left: 13.1rem;
}

.contentPage1 .cards-div img{
  width: 50px;
  height: 50px;
}

.contentPage1 .cards-div h3 {
  font-size: 20px;
  font-weight: 700;
}

.contentPage1 .cards-div p {
  font-size: 15px;
  color: hsl(233, 8%, 62%);
  width: 285px;
  line-height: 1.5rem;
  font-weight: 100;
  width: 265px;
}

.contentPage1 .card{
    width: 265px;
   
   
    
}


.contentPage2 {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 680px;
}
.contentPage2 .text h2 {
  font-size: 40px;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.contentPage2 .text {
  margin-left: 13.1rem;
}

.contentPage2 .cards-div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  text-align: start;
  margin-left: 13.1rem;

}

.contentPage2 .cards-div img {
  border-radius: inherit;
  width: 270px;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.cards-div .card{
  border-radius: 5px 5px 0 0;
    display: flex;
    flex-direction: column;
}

.contentPage2 .card-text {
  border-radius: 0 0 5px 5px;
  height: 180px;
  width: 230px;
  padding: 30px 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.contentPage2 .text h3 {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}


.contentPage2 .card-text h2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  height: 40px;
  color: hsl(0, 0%, 0%);
}

.contentPage2 .card-text h2:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.contentPage2 .card-text p {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}


.footer-div{
  display: flex;
  align-items: center;
  background-color: rgb(45, 49, 77);
  height: 160px;
  gap: 28.6rem;
  
  
 
}

.footer-div .footer-container1{
  display: flex;
 gap: 6rem;
margin-left: 13.1rem;

 
  
}

.footer-div .footer-container2{
  display: flex;



 
  
}

.footer-div .img-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

}


.footer-div .social-div{
  display: flex;
  gap: 0.6rem;
  
}

.footer-div .social-div img{
  width: 1.3rem;
  height: 1.3rem;
}

.footer-div .links-div{
 display: flex;
 gap: 1rem;
 
}


.footer-div .links-div a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  
}

.footer-div .links-div a:hover{
  color: hsl(136, 65%, 51%);
  
}

.footer-div .links-div ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
 
 
 
}

.footer-div .request-div {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 
}

.footer-div .request-div p{
  font-size: 14px;
  font-weight: 200;
  color: #969696;

}

.footer-div .request-div button{
  align-self: flex-end;
}

@media screen and (max-width: 375px){
  .nav-lists{
    display: none;
  }
  .navbar > .request-button{
    display: none;
  }
  .ham-menu-lists{
    position: absolute;
    text-align: center;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    top: 6rem;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    width: 85%;
    height: 14rem;
    }
  .ham-menu-lists > a{
    text-decoration: none;
    width: 4rem;
    color: hsl(233, 26%, 24%);
    cursor: pointer;
    margin: 0;
  }
  .ham-menu{
    display: flex;
    width: 2.5rem;
    height: 2.5rem;
    background-size: contain;
    background-color: white;
    background-image: url(./images/icons8-menu.svg);
    border: none;
  }
  .hero-section{
    height: 46rem;
    gap: 1rem;
    flex-direction: column-reverse;
    background-position: -11rem -8rem;
    background-size: 50rem 30rem;
  }
  .hero-span{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
  }
  .hero-text{
    font-size: 45px;
  }
  .hero-paragraph{
    width: 100%;
  }
  .hero-span > .request-button{
    margin-bottom: 6rem;
    margin-top: 1rem;
  }
  .contentPage1{
    height: 85rem;
    gap: 4rem;
  }
  .contentPage1 > .text{
    margin: 0;
    font-weight: 300;
    text-align: center;
  }
  .contentPage1 > .text p{
    width: 100%;
  }
  .contentPage1 > .cards-div{
    flex-direction: column;
    margin: 0;
  }
  .cards-div > .card{
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .cards-div > .card > p{
    width: 90%;
    text-align: center;
  }
  .cards-div > .card > h3{
    font-weight: 300;
  }
  .contentPage1 > .cards-div img{
    width: 70px;
    height: 70px;
  }
  .contentPage2{
    flex-direction: column;
    height: 130rem;
  }
  .contentPage2 .text{
    margin: 0;
    text-align: center;
  }
  .contentPage2 .text h2{
    font-size: 32px;
  }
  .contentPage2 .cards-div{
    
    margin: 0;
    align-items: center;
    flex-direction: column;
  }
  .contentPage2 .cards-div img{
    width: 85%;
  }
  .contentPage2 .card-text{
    width: 75%;
  }
  .contentPage2 .cards-div .card-text > h3{
    font-size: 11px;
    font-weight: 100;
    color: hsl(233, 8%, 62%);
  }
  .contentPage2 .cards-div .card-text > h2{
    font-size: 17px;
    width: 100%;
  }
  .contentPage2 .cards-div .card-text > p{
    font-size: 14px;
  }
  .footer{
    margin: 0;
    padding: 0;
  }
  .footer-div{
    width: 100%;
    gap: 0;
    padding: 0;
    height: 33rem;
    display: flex;
    flex-direction: column;
  }
  .footer-div .footer-container1{
    height: 20rem;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
  }
  .footer-div .footer-container1 img{
    height: 1.4rem;
  }
  .footer-container1 .links-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 13rem;
    margin: 0;
  }
  .footer-div .footer-container1 .social-div{
    height: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 1.3rem;
  }
  .footer-div .footer-container1 .social-div img{
    width: 25px;
    height: 25px;
  }
  .footer-container1 .img-div .logo-div{
    margin: 0;
  }
  .footer-container1 .img-div{
    display: flex;
    flex-direction: column;
    gap: 1.7rem;
    height: 11rem;
  }
  .footer-container1 .links-div .link-div{
    height: 5rem;
    margin: 0;
    gap: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .footer-container1 .links-div .link-div ul{
    margin: 0;
    display: flex;
    padding: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer-container2{
    margin-top: 1.5rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 9rem;
  }
  .footer-container2 .request-div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .footer-container2 .request-div .request-button{
    align-self: center;
  }
}