@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap");

body {
  font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.navbar {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  width: 26rem;
  height: 2rem;
  font-size: 15px;
  font-weight: 300;
  color: hsl(233, 8%, 62%);
}
.nav-lists > a > li {
  cursor: pointer;
  min-width: 3.5rem;
}
.nav-lists > a {
  text-decoration: none;
  color: hsl(233, 8%, 62%);
}
.nav-lists > a > li:hover {
  color: hsl(233, 26%, 24%);
}
.nav-lists > a > li:hover::before {
  content: "";
  width: 3.5rem;
  height: 0.25rem;
  position: absolute;
  top: 4.8rem;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.request-button {
  font-size: 15px;
  font-weight: 300;
  width: 10rem;
  height: 2.7rem;
  border-radius: 20px;
  border: none;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    hsl(136, 65%, 51%),
    hsl(192, 70%, 51%)
  );
}
.request-button:hover {
  opacity: 0.7;
}
.hero-section {
  width: 100%;
  height: 44rem;
  display: flex;
  position: relative;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  background-image: url(./images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100rem 75rem;
  background-position: 37rem -19rem;
}
.hero-span {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 13.1rem;
}
.hero-text {
  margin: 0;
  font-size: 55px;
  color: hsl(233, 26%, 24%);
  font-weight: 300;
}
.hero-paragraph {
  margin: 0;
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  width: 25rem;
  line-height: 1.5rem;
}
.hero-image {
  width: 45rem;
  height: 45rem;
}
.mobile-image {
  z-index: 1;
  position: absolute;
  left: 50rem;
  margin-top: 1rem;
}

.contentPage1 {
  background-color: #f3f4f6;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-direction: column;
  height: 650px;
}

.contentPage1 .text {
  margin-left: 13.1rem;
}

.contentPage1 .text h1 {
  font-size: 40px;
  font-weight: 100;
  color: hsl(233, 26%, 24%);
}

.contentPage1 .text p {
  font-size: 16px;
  color: hsl(233, 8%, 62%);
  width: 37rem;
  line-height: 1.5rem;
}

.contentPage1 .cards-div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  text-align: start;
  margin-left: 13.1rem;
}

.contentPage1 .cards-div img{
  width: 50px;
  height: 50px;
}

.contentPage1 .cards-div h3 {
  font-size: 20px;
  font-weight: 700;
}

.contentPage1 .cards-div p {
  font-size: 15px;
  color: hsl(233, 8%, 62%);
  width: 285px;
  line-height: 1.5rem;
  font-weight: 100;
  width: 265px;
}

.contentPage1 .card{
    width: 265px;
   
   
    
}


.contentPage2 {
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  height: 680px;
}
.contentPage2 .text h2 {
  font-size: 40px;
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

.contentPage2 .text {
  margin-left: 13.1rem;
}

.contentPage2 .cards-div {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  text-align: start;
  margin-left: 13.1rem;

}

.contentPage2 .cards-div img {
  width: 270px;
  height: 200px;
  object-fit: cover;
  margin: 0;
}

.cards-div .card{
    display: flex;
    flex-direction: column;
}

.contentPage2 .card-text {
  height: 180px;
  width: 230px;
  padding: 30px 20px;
  background-color: rgb(255, 255, 255);
  margin: 0;
}

.contentPage2 .text h3 {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}


.contentPage2 .card-text h2 {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  height: 40px;
  color: hsl(0, 0%, 0%);
}

.contentPage2 .card-text h2:hover {
  color: hsl(136, 65%, 51%);
  cursor: pointer;
}

.contentPage2 .card-text p {
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  color: hsl(233, 8%, 62%);
}


.footer-div{
  display: flex;
  align-items: center;
  background-color: rgb(45, 49, 77);
  height: 160px;
  gap: 28.6rem;
  
  
 
}

.footer-div .footer-container1{
  display: flex;
 gap: 6rem;
margin-left: 13.1rem;

 
  
}

.footer-div .footer-container2{
  display: flex;



 
  
}

.footer-div .img-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

}


.footer-div .social-div{
  display: flex;
  gap: 0.6rem;
  
}

.footer-div .social-div img{
  width: 1.3rem;
  height: 1.3rem;
}

.footer-div .links-div{
 display: flex;
 gap: 1rem;
 
}


.footer-div .links-div a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  font-weight: 200;
  
}

.footer-div .links-div a:hover{
  color: hsl(136, 65%, 51%);
  
}

.footer-div .links-div ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
 
 
 
}

.footer-div .request-div {
 display: flex;
 flex-direction: column;
 gap: 1rem;
 
}

.footer-div .request-div p{
  font-size: 14px;
  font-weight: 200;
  color: #969696;

}

.footer-div .request-div button{
  align-self: flex-end;
}

